<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rainbow_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,478},{235,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,118}}</string>
                <key>sourceSize</key>
                <string>{235,118}</string>
            </dict>
            <key>rainbow_cyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,715},{282,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,142}}</string>
                <key>sourceSize</key>
                <string>{282,142}</string>
            </dict>
            <key>rainbow_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{332,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,167}}</string>
                <key>sourceSize</key>
                <string>{332,167}</string>
            </dict>
            <key>rainbow_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{444,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,222}}</string>
                <key>sourceSize</key>
                <string>{444,222}</string>
            </dict>
            <key>rainbow_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,715},{188,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,93}}</string>
                <key>sourceSize</key>
                <string>{188,93}</string>
            </dict>
            <key>rainbow_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,250}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>rainbow_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{386,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,197}}</string>
                <key>sourceSize</key>
                <string>{386,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rainBow.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd4b30e786b5d6089b9002338412dbf7:1/1$</string>
            <key>textureFileName</key>
            <string>rainBow.png</string>
        </dict>
    </dict>
</plist>
